* {
    box-sizing: border-box;
}

.wrapper {
    max-width: 960px;
    margin: 32px auto;
    padding: 20px;
}

.grid-container {
    display: grid;
    gap: 12px;

    /* Mobil stakket layout */
    grid-template-columns: 1fr;
    grid-template-areas:
        'header'
        'menu'
        'main'
        'right'
        'footer';
}

/* Bokse */
.box {
    background-color: rgb(244, 255, 196);
    border: 4px solid rgb(82, 143, 255);
    padding: 16px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Grid Areas */
.header {
    grid-area: header;
}

.menu {
    grid-area: menu;
}

.main {
    grid-area: main;
}

.right {
    grid-area: right;
}

.footer {
    grid-area: footer;
}

/* Desktop layout */
@media (min-width: 551px) {
    .grid-container {
        grid-template-columns: 1fr 2fr 1fr;
        grid-template-areas:
            'header header header'
            'menu main right'
            'footer footer footer';
    }
}